# Build dim_services

Purpose:
- Create a service and subscription dimension to analyze churn drivers
- Capture contract, service configuration, and billing attributes
- Preserve customer-level grain

In [2]:
import pandas as pd
import numpy as np

data_path = "../data/raw/"

services = pd.read_excel(
    data_path + "Telco_customer_churn_services.xlsx"
)

services.head()

,Service ID,Customer ID,Count,Quarter,Referred a Friend,Number of Referrals,Tenure in Months,Offer,Phone Service,Avg Monthly Long Distance Charges,...,Unlimited Data,Contract,Paperless Billing,Payment Method,Monthly Charge,Total Charges,Total Refunds,Total Extra Data Charges,Total Long Distance Charges,Total Revenue
0,IJKDQVSWH3522,8779-QRDMV,1,Q3,No,0,1,NaN,No,0.00,...,No,Month-to-Month,Yes,Bank Withdrawal,39.65,39.65,0.00,20,0.00,59.65
1,BFKMZJAIE2285,7495-OOKFY,1,Q3,Yes,1,8,Offer E,Yes,48.85,...,Yes,Month-to-Month,Yes,Credit Card,80.65,633.30,0.00,0,390.80,1024.10
2,EIMVJQBMT7187,1658-BYGOY,1,Q3,No,0,18,Offer D,Yes,11.33,...,Yes,Month-to-Month,Yes,Bank Withdrawal,95.45,1752.55,45.61,0,203.94,1910.88
3,EROZQXDUU4979,4598-XLKNJ,1,Q3,Yes,1,25,Offer C,Yes,19.76,...,Yes,Month-to-Month,Yes,Bank Withdrawal,98.50,2514.50,13.43,0,494.00,2995.07
4,GEEYSJUHY6991,4846-WHAFZ,1,Q3,Yes,1,37,Offer C,Yes,6.33,...,Yes,Month-to-Month,Yes,Bank Withdrawal,76.50,2868.15,0.00,0,234.21,3102.36

In [3]:
services.info()
services["Customer ID"].nunique()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 31 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Service ID                         7043 non-null   object
 1   Customer ID                        7043 non-null   object
 2   Count                              7043 non-null   int64
 3   Quarter                            7043 non-null   object
 4   Referred a Friend                  7043 non-null   object
 5   Number of Referrals                7043 non-null   int64
 6   Tenure in Months                   7043 non-null   int64
 7   Offer                              3166 non-null   object
 8   Phone Service                      7043 non-null   object
 9   Avg Monthly Long Distance Charges  7043 non-null   float64
 10  Multiple Lines                     7043 non-null   object
 11  Internet Service                   7043 non-null   object
 12  Internet Type                      5517 non-null   object
 13  Avg Monthly GB Download            7043 non-null   int64
 14  Online Security                    7043 non-null   object
 15  Online Backup                      7043 non-null   object
 16  Device Protection Plan             7043 non-null   object
 17  Premium Tech Support               7043 non-null   object
 18  Streaming TV                       7043 non-null   object
 19  Streaming Movies                   7043 non-null   object
 20  Streaming Music                    7043 non-null   object
 21  Unlimited Data                     7043 non-null   object
 22  Contract                           7043 non-null   object
 23  Paperless Billing                  7043 non-null   object
 24  Payment Method                     7043 non-null   object
 25  Monthly Charge                     7043 non-null   float64
 26  Total Charges                      7043 non-null   float64
 27  Total Refunds                      7043 non-null   float64
 28  Total Extra Data Charges           7043 non-null   int64
 29  Total Long Distance Charges        7043 non-null   float64
 30  Total Revenue                      7043 non-null   float64
dtypes: float64(6), int64(5), object(20)
memory usage: 1.7+ MB

7043

In [5]:
dim_services = services[
    [
        "Customer ID",
        "Contract",
        "Internet Service",
        "Internet Type",
        "Phone Service",
        "Multiple Lines",
        "Online Security",
        "Online Backup",
        "Device Protection Plan",
        "Premium Tech Support",
        "Payment Method",
        "Paperless Billing",
    ]
].copy()

In [6]:
dim_services.columns = [
    "customer_id",
    "contract_type",
    "internet_service",
    "internet_type",
    "phone_service",
    "multiple_lines",
    "online_security",
    "online_backup",
    "device_protection_plan",
    "premium_tech_support",
    "payment_method",
    "paperless_billing",
]

In [7]:
dim_services.nunique()

customer_id               7043
contract_type                3
internet_service             2
internet_type                3
phone_service                2
multiple_lines               2
online_security              2
online_backup                2
device_protection_plan       2
premium_tech_support         2
payment_method               3
paperless_billing            2
dtype: int64

In [8]:
dim_services.isna().sum()

customer_id                  0
contract_type                0
internet_service             0
internet_type             1526
phone_service                0
multiple_lines               0
online_security              0
online_backup                0
device_protection_plan       0
premium_tech_support         0
payment_method               0
paperless_billing            0
dtype: int64

In [9]:
dim_services.info()
dim_services["customer_id"].nunique()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   customer_id             7043 non-null   object
 1   contract_type           7043 non-null   object
 2   internet_service        7043 non-null   object
 3   internet_type           5517 non-null   object
 4   phone_service           7043 non-null   object
 5   multiple_lines          7043 non-null   object
 6   online_security         7043 non-null   object
 7   online_backup           7043 non-null   object
 8   device_protection_plan  7043 non-null   object
 9   premium_tech_support    7043 non-null   object
 10  payment_method          7043 non-null   object
 11  paperless_billing       7043 non-null   object
dtypes: object(12)
memory usage: 660.4+ KB

7043

In [10]:
dim_services.to_csv(
    "../data/processed/dim_services.csv",
    index=False
)

Notes:
- Service and billing attributes were selected based on their relevance to churn drivers in subscription businesses.
- Revenue-related fields and technical identifiers were intentionally excluded to preserve dimensional clarity.
- Null internet_type values correspond to customers without internet service and are handled downstream.